<div id="add-form-container" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Divulgue a vaga preenchendo o formulario</h1>
            </div>
            <div id="form-box" class="col-md-12">
                <h2>Preencha os Dados Rapidamente para encontrar seu dev</h2>
                <form action="">
                    <div class="form-group">
                        <label for="title">Titulo da vaga:</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Digite o titulo da vaga" required>
                        <small id="titlehelp" class="form-text text-muted">O titulo e importante</small>
                        
                    </div>
                    <div class="form-group">
                        <label for="description">descrição:</label>
                        <textarea type="text" class="form-control" id="description" name="description" placeholder="Descreva as atividade do desenvolvedor" required></textarea>
                       
                        
                    </div>
                    <div class="form-group">
                        <label for="company">Empresa Contratante:</label>
                        <input type="text" class="form-control" id="company" name="company" placeholder="Digite a Empresa que ira contratar" required>
                        
                        
                    </div>
                    <div class="form-group">
                        <label for="email">E-Mail para contato:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Digite o Email" required>

                        
                    </div>
                    <div class="form-group">
                        <label for="salary">Salario Oferecido:</label>
                        <input type="text" class="form-control" id="salary" name="salary" placeholder="Digite o salario da vaga" required>
                        
                        
                    </div>
                    <input type="hidden" name="new_job" value="1">
                    <button type="submite" class="btn btn-primary"> enviar </button>
                    
                </form>
            </div>
        </div>
    </div>
</div>
